div{
    background-color: yellow;
    height: 200px;
    width: 200%;
    -moz-box-sizing: border-box; 
}
.c1{
    background-color: bisque;
    height: 200px;
    width: 300%;
    -moz-box-sizing: border-box; 
}
.c2{
    background-color: blue;
    height: 500px;
    width: 200%;
    -moz-box-sizing: border-box; 
}
.c3{
        background-color: black;
        height: 700px;
        width: 500%;
        -moz-box-sizing: border-box; 
}