body{
    font-style: "Times New Roman",times,serif;
    size: 13px;
    background-color:#e6e6d9;
    color:#6b6c5a ;
    line-height: 22px;
    text-align: left;
    margin: 0px;
}
head {
    background-color: #c7c8bc;
    text-align: center;
    height: 68px;
    position: relative;
}
.navigation  {
    size: 9px;
    line-height: 16px;
    color: white;
    background-color: #6b6c5a;
    letter-spacing: 6px;
    text-align: center;
    height: 16px;
    margin-bottom: 15px;

}
.logo{
    height: 95px;
    margin: 0 10 10 18%;
    text-align: center;
}
.element-de-menu {
    color: #758642;
    margin-top : 20px;
    margin-left: 20px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #758642 ;
    text-align: right;
    width: 20%;
    float: left;
}
.c1{
    width: 50%;
    float: left;
    padding-left: 30px;
    padding-right: 50px;
}
.papillon {
    size: 10px;
    font-style: italic;
    line-height: 20px;
    width: 15%;
    float: left;
    border-spacing: 3%;
}
.figures{
    size: 9px;
    line-height: 16px;
    color: white;
    letter-spacing: 6px;
    text-align: center;
    height: 16;
    clear: left;
    margin-left: 70%;
    
}
